    <div class="row dark clientele">
        <h2>Fresh 'n Peeled</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <ul id="clientele_logos">
            <li><img src="/images/nbc-white.svg"></li>
            <li><img src="/images/telemundo-white.svg"></li>
            <li><img src="/images/ups-white.svg"></li>
            <li><img src="/images/faith-white.svg"></li>
            <li><img src="/images/drupalconnect-white.svg"></li>
            <li><img src="/images/hfhmi-white.svg"></li>
            <li><img src="/images/lrcc-white.svg"></li>
            <li><img src="/images/lcvb-white.svg"></li>
            <li><img src="/images/namimi-white.svg"></li>
            <li><img src="/images/mca-white.svg"></li>
            <li><img src="/images/craa-white.svg"></li>
            <li><img src="/images/jnl-white.svg"></li>
            <li><img src="/images/ce-white.svg"></li>
            <li><img src="/images/portlan-white.svg"></li>
            <li><img src="/images/puremi-white.svg"></li>
            <li><img src="/images/mitravel-white.svg"></li>
            <li><img src="/images/cmi-white.svg"></li>
            <li><img src="/images/honeywell-white.svg"></li>
            <li><img src="/images/hbami-white.svg"></li>
            <li><img src="/images/kolt-white.svg"></li>
        </ul>
    </div>