<div class="modal"">
  <div class="modal-inner">
    <div class="modal-content"></div>
  </div>
  <a data-modal-close>X</a>
</div>
<div id="modal_cinders" class="hidden"></div>
<div id="modal_fpd" class="hidden"></div>
<div id="modal_coi" class="hidden"></div>
<div id="modal_rogers" class="hidden"></div>
<div id="modal_colorvid" class="hidden"></div>
<div id="modal_telemundo" class="hidden"></div>
<div id="modal_nkwebdev" class="hidden"></div>
<div id="modal_mitravel" class="hidden"></div>