    <div class="row red personal">
        <h2>Tough &amp; Competent</h2>
        <p>Nicholas Ketchum is an accomplished digital developer and UX designer offering more than 15 years of professional experience in working closely with high-profile clients across North America. His excellent interpersonal manner and sharp focus on detail has allowed Nicholas to consistently deliver rich, real-world results to a diverse and discerning clientele. Nicholas' fueled passion for building useful and innovative applications for businesses, charities, institutions and artists (among others) drives his disciplined and carefully balanced work ethic.</p>
        <p>Nicholas currently works and resides in Lansing, MI and frequently works from his "second city" in Chicago, IL and his "second home" in Ann Arbor, MI. He also enjoys playing guitar, singing, pilot training, writing and dining out with his group of long-time friends who facetiously dub themselves as "The Old Men"</p>
        <img src="/images/signature.svg" id="signature">

        <div class="testimonials">
          <div class="testimonial">
            <p class="quote">It was a pleasure working with Nicholas. He is a passionate person with an abundance of knowledge in his field. His technical expertise and creativity makes Nicholas a success in developing innovative solutions.</p>
            <p class="attribution"><strong>Nicole Noll-Williams C.M.</strong><br>Director, Marketing and Passenger Development, Capital Region Airport Authority</p>
          </div>
          <div class="testimonial">
            <p class="quote">Nick is finishing up a website redesign for Habitat for Humanity of Michigan. He has brought expertise and creativity to the project. I have enjoyed working with Nick on this project.</p>
            <p class="attribution"><strong>Michelle Smith</strong><br>Director of Marketing, Habitat for Humanity of Michigan</p>
          </div>
          <div class="testimonial">
            <p class="quote">Nick is the best web designer I've seen. He is very creative and thoughtful for his product. He is very responsive and open minded to new ideas and is able to implement these ideas to achieve the expected result.</p>
            <p class="attribution"><strong>Hong Trebesh</strong><br>Senior Campaign Director, Citizens for Michael Trebesh</p>
          </div>
        </div>

    </div>