    <div class="row red projects">
        <h2>Modern Sensibilities</h2>
        <p>Est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <ul id="project_thumbs">
            <li><div class="info"><a href="#modal_cinders" data-modal-open>Cinder's Grill</a></div><img data-original="/images/thumb-cinders.jpg"></li>
            <li><div class="info"><a href="#modal_fpd" data-modal-open>Food Porn Detroit</a></div><img data-original="/images/thumb-fpd.jpg"></li>
            <li><div class="info"><a href="#modal_coi" data-modal-open>Corporate Furnishings</a></div><img data-original="/images/thumb-coi.jpg"></li>
            <li><div class="info"><a href="#modal_rogers" data-modal-open>Fred Rogers Memorial</a></div><img data-original="/images/thumb-rogers.jpg"></li>
            <li><div class="info"><a href="#modal_colorvid" data-modal-open>Video Colorizer</a></div><img data-original="/images/thumb-colorvid.jpg"></li>
            <li><div class="info"><a href="#modal_telemundo" data-modal-open>Telemundo</a></div><img data-original="/images/thumb-telemundo.jpg"></li>
            <li><div class="info"><a href="#modal_nkwebdev" data-modal-open>NK Web Dev</a></div><img data-original="/images/thumb-nkwebdev.jpg"></li>
            <li><div class="info"><a href="#modal_mitravel" data-modal-open>Mid-Michigan Travel Coalition</a></div><img data-original="/images/thumb-mitravel.jpg"></li>
        </ul>
    </div>