    <div class="row light skills">
        <h2>Full-Stack Skillset</h2>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <ul id="skill_tags">
            <li class="frontend">HTML5</li>
            <li class="frontend">CSS3</li>
            <li class="frontend">SASS</li>
            <li class="frontend">ES5/6</li>
            <li class="frontend">Vanilla JS</li>
            <li class="processors">Bootstrap</li>
            <li class="processors">Compass</li>
            <li class="processors">Composer</li>
            <li class="processors">Foundation</li>
            <li class="processors">Grunt</li>
            <li class="processors">Gulp</li>
            <li class="processors">jQuery</li>
            <li class="processors">NPM</li>
            <li class="processors">Webpack</li>
            <li class="backend">Node.js</li>
            <li class="backend">PHP</li>
            <li class="backend">Bash</li>
            <li class="backend">AMP</li>
            <li class="backend">REST</li>
            <li class="backend">GraphQL</li>
            <li class="backend">Git</li>
            <li class="backend">SVN</li>
            <li class="backend">RabbitMQ</li>
            <li class="platforms">Apache</li>
            <li class="platforms">Nginx</li>
            <li class="platforms">NoSql</li>
            <li class="platforms">MySql</li>
            <li class="platforms">Postgres</li>
            <li class="platforms">Ubuntu</li>
            <li class="platforms">CentOS</li>
            <li class="packages">Drupal 6/7/8</li>
            <li class="packages">Wordpress</li>
            <li class="packages">Symfony</li>
            <li class="packages">Express</li>
            <li class="devops">Vagrant</li>
            <li class="devops">PuPHPet</li>
            <li class="devops">Chef</li>
            <li class="devops">Ansible</li>
            <li class="devops">Docker</li>
            <li class="devops">Travis</li>
            <li class="devops">Jenkins</li>
            <li class="apps">Photoshop CS</li>
            <li class="apps">Illustrator CS</li>
            <li class="apps">InDesign CS</li>
            <li class="apps">Blender</li>
            <li class="apps">Mac</li>
            <li class="apps">Windows</li>
            <li class="apps">Linux</li>
        </ul>
        <div id="attach"></div>
        <img src="/images/mugshot.svg" id="mugshot">
        <img src="/images/detroit.svg" id="footer-bg">
    </div>