    <div class="row light skills">
        <h2>Full-Stack Skillset</h2>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <ul id="skill_tags">
            <li class="frontend">HTML5</li>
            <li class="frontend">CSS3</li>
            <li class="frontend">SASS</li>
            <li class="frontend">ES5/6</li>
            <li class="frontend">Vanilla JS</li>
            <li class="libraries">jQuery</li>
            <li class="libraries">Bootstrap</li>
            <li class="libraries">Foundation</li>
            <li class="processors">Compass</li>
            <li class="processors">Webpack</li>
            <li class="processors">Gulp</li>
            <li class="processors">Grunt</li>
            <li class="processors">Composer</li>
            <li class="processors">NPM</li>
            <li class="backend">Node.js</li>
            <li class="backend">PHP</li>
            <li class="backend">Bash</li>
            <li class="platforms">Apache</li>
            <li class="platforms">Nginx</li>
            <li class="platforms">MySql</li>
            <li class="platforms">Postgres</li>
            <li class="platforms">Ubuntu</li>
            <li class="platforms">CentOS</li>
            <li class="devops">Vagrant</li>
            <li class="devops">PuPHPet</li>
            <li class="devops">Chef</li>
            <li class="devops">Ansible</li>
            <li class="devops">Docker</li>
        </ul>
        <img src="/images/mugshot.svg" id="mugshot">
        <img src="/images/detroit.svg" id="footer-bg">
    </div>